<!--<router-outlet></router-outlet>-->
<div *ngIf="!isEdit">
  <h3>Infomation</h3>
  <hr style="border: 1px solid ">
  <table style="width:100%; " *ngFor="let infor of information">
    <tr>
      <td style="width:30%;height: 30px;"><b>Full name</b></td>
      <td style="width:65%;">{{infor?.name}}</td> 
      <td style="width:5%;">
          <a class="update-link-color update-link" (click)="isEdit = true; edit(infor); " ><span class="glyphicon glyphicon-pencil"></span></a>
      </td> 
    </tr>
    <tr>
      <td style="height: 30px;"><b>Gender</b></td>
      <td *ngIf="infor != null && infor.gender">Male</td> 
      <td *ngIf="infor != null && !infor.gender">FeMale</td> 
    </tr>
    <tr>
      <td style="height: 30px;"><b>Birthdate</b></td>
      <td >{{infor?.birthday | date : 'dd-MM-yyyy'}}</td> 
    </tr>
    <tr>
      <td style="height: 30px;"><b>Phone number</b></td>
      <td >{{infor?.phoneNumber}}</td> 
    </tr>
    <tr>
      <td style="height: 30px;"><b>Address</b></td>
      <td >{{infor?.address}}</td> 
    </tr>
    <tr>
      <td style="height: 30px;"><b>Position</b></td>
      <td >{{infor?.position}}</td> 
    </tr>
  </table>
</div>
<div *ngIf="isEdit">
  <h3>Infomation</h3>
  <hr style="border: 1px solid ">
  <form class="form-horizontal" [formGroup]="informationFormEdit">
    <div class="form-group">
      <label for="nameEdit" class="col-sm-2 control-label">Full name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Please enter full name" pattern="^([^]*[a-zA-Zà-ýÀ-Ýạ-ỹẠ-ỸăĂđĐĩĨũŨơƠưƯ0-9]+[^]*)$" formControlName="nameEdit" [ngClass]="{ 'is-invalid': submitted && f.nameEdit.errors }">
        <div *ngIf="submitted && f.nameEdit.errors" class="error">
          <div *ngIf="f.nameEdit.errors.required">Sorry, your name is required</div>
          <div *ngIf="f.nameEdit.errors.pattern">Sorry, your name can not empty</div>
      </div>
      </div>
    </div>
    <div class="form-group">
        <label for="inlineRadioOptions" class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-10">
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" [checked]="gender != null && gender" (change)="handelRadioMale($event)" value=true>Male 
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" [checked]="gender != null && !gender" (change)="handelRadioFemale($event)" value=false>FeMale
              </label>
        </div>
    </div>
    <div class="form-group">
        <label for="birthdayEdit" class="col-sm-2 control-label">Birthdate</label>
        <div class="col-sm-10">
          <input
          class="form-control"
          placeholder="01-01-1996"
          bsDatepicker
          (bsValueChange)="onValueChangeEdit($event)"
          formControlName="birthdayEdit"
          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }"
          [bsValue]="editBirthDay"/>
          <div *ngIf="submitted" class="error">
              <div *ngIf="f.birthdayEdit.errors && f.birthdayEdit.errors.required">Sorry, birthday is required</div>
              <div *ngIf="isBirthDayError">The birthday must be less than the today</div>
          </div>
        </div>
      </div>
    <div class="form-group">
        <label for="numberPhoneEdit" class="col-sm-2 control-label">Number phone</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  pattern="^([0-9]*)$" formControlName="numberPhoneEdit" [ngClass]="{ 'is-invalid': submitted && f.numberPhoneEdit.errors }">
          <div *ngIf="submitted && f.numberPhoneEdit.errors" class="error">
            <div *ngIf="f.numberPhoneEdit.errors.required">Sorry, number phone is required</div>
            <div *ngIf="f.numberPhoneEdit.errors.pattern">Sorry, number phone only number</div>
        </div>
        </div>
    </div>

    <div class="form-group">
      <label for="addressEdit" class="col-sm-2 control-label">Address</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  placeholder="Please enter Address" pattern="^([^]*[a-zA-Zà-ýÀ-Ýạ-ỹẠ-ỸăĂđĐĩĨũŨơƠưƯ0-9]+[^]*)$" formControlName="addressEdit" [ngClass]="{ 'is-invalid': submitted && f.addressEdit.errors }">
        <div *ngIf="submitted && f.addressEdit.errors" class="error">
          <div *ngIf="f.addressEdit.errors.required">Sorry, address is required</div>
          <div *ngIf="f.addressEdit.errors.pattern">Sorry, address only number</div>
      </div>
      </div>
    </div>
    <div class="form-group">
      <label for="positionEdit" class="col-sm-2 control-label">Position</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  placeholder="Please enter Address" pattern="^([^]*[a-zA-Zà-ýÀ-Ýạ-ỹẠ-ỸăĂđĐĩĨũŨơƠưƯ0-9]+[^]*)$" formControlName="positionEdit" [ngClass]="{ 'is-invalid': submitted && f.positionEdit.errors }">
        <div *ngIf="submitted && f.positionEdit.errors" class="error">
          <div *ngIf="f.positionEdit.errors.required">Sorry, position is required</div>
          <div *ngIf="f.positionEdit.errors.pattern">Sorry, position only number</div>
      </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" (click)="updateInfomation()">Save</button>
        <span  style="padding-left:3px;"></span>
        <button type="submit" class="btn btn-primary" (click)="isEdit = false;">Cancel</button>
      </div>
    </div>
  </form>
</div>



