<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">    
      <div class="row">
          <div class="col-sm-5 col-md-3">
            <br>
            <div class="thumbnail" style="width:220px; height: 220px;">
                <img class="avatar" [src]="currentUser.avatar? currentUser.avatar : imageURL" alt="...">
              <div class="caption">           
                <div class="inputWrapper" style="height: 24px; width: 24px;">
                    <div class="glyphicon glyphicon-open">
                            <form>
                                    <input #imageInput class="fileInput" type="file" accept="image/*"  (change)="uploadPhoto(imageInput)" />
                                    <!-- <input  class="fileInput" type="file" accept="image/*" (change)="uploadPhoto()" #fileInput/> -->
                            </form>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-9">
              <!--noidung--> 
              <!-- <router-outlet></router-outlet> -->
              <app-profile-infomation></app-profile-infomation>
              <app-profile-objective></app-profile-objective>
              <app-profile-education></app-profile-education>
              <app-profile-experience></app-profile-experience>
              <app-profile-skill></app-profile-skill>
              <app-profile-activity></app-profile-activity>
              
              <!--noidung-->  
          </div>
      </div>   
  

    </div>
    <div class="col-md-1"></div>
</div>




