
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/users">Users</a></li>
        <li><a routerLink="/tags">Tags</a></li>
        <li><a routerLink="/jobs">Jobs</a></li>
        <li *ngIf="!(isLoggedIn$ | async)"><a routerLink="/recruitment">recruitment</a></li>
        <li *ngIf="!(isLoggedIn$ | async)"><a routerLink="/register">Register</a></li>
        <li *ngIf="!(isLoggedIn$ | async)" ><a routerLink="/login">Login</a></li>
        <li class="dropdown" *ngIf="(isLoggedIn$ | async)">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{authentication.currentUserInfo?.username | uppercase}} <span class="caret"></span></a>
          <ul class="dropdown-menu" >
            <!-- <li *ngIf="(isLoggedIn$ | async) && (getUserRole() == 1 )" ><a routerLink="/profile">Question Profile</a></li> -->
            <li *ngIf="(isLoggedIn$ | async) && (getUserRole() == 1 )"><a routerLink="/profile-update">Profile</a></li>
            <li *ngIf="(isLoggedIn$ | async) && (getUserRole() == 2 )"><a routerLink="/manage-job">Manage jobs</a></li>
            <li *ngIf="(isLoggedIn$ | async) && (getUserRole() == 2 )"><a routerLink="/manage-recruitment">Manage recruitment</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="onLogout()" >Logout</a></li>
          </ul>
        </li>
        <li class="dropdown" *ngIf="(isLoggedIn$ | async) && (getUserRole() == 0 )">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Manage <span class="caret"></span></a>
          <ul class="dropdown-menu" >
            <li><a routerLink="/admin/user">Users</a></li>
            <li><a routerLink="/admin/tag">Tags</a></li>  
            <li><a routerLink="/admin/question">Questions</a></li>     
            <li><a routerLink="/admin/vote">Votes</a></li>     
            <li><a routerLink="/admin/view">Views</a></li>      
            <li><a routerLink="/admin/report">Reports</a></li>     
            <li><a routerLink="/admin/anwer">Anwers</a></li> 
            <li><a routerLink="/admin/comment">Comments</a></li>          
            <li><a routerLink="/admin/work">Works</a></li>    
            <li><a routerLink="/admin/recruitment">Recruitments</a></li>    
            <li><a routerLink="/admin/interview">Interviews</a></li>      
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--*ngIf="isLoggedIn$ | async as isLoggedIn"-->
