<!-- Add-->
<div *ngIf="isAdd" class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h3>Add user</h3>
    <hr >
      <form class="form-horizontal" [formGroup]="userAddForm">
          <div class="form-group">
            <label for="nameAdd" class="col-sm-2 control-label">Full name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Please enter your full name" pattern="^([^]*[a-zA-Zà-ýÀ-Ýạ-ỹẠ-ỸăĂđĐĩĨũŨơƠưƯ0-9]+[^]*)$"
              formControlName="nameAdd" [ngClass]="{ 'is-invalid': submittedAdd && formAdd.nameAdd.errors }">
              <div *ngIf="submittedAdd && formAdd.nameAdd.errors" class="error">
                <div *ngIf="formAdd.nameAdd.errors.required">Sorry, full name is required</div>
                <div *ngIf="formAdd.nameAdd.errors.pattern">Sorry, full name can not empty</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="usernameAdd" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Please enter username" pattern="[a-zA-Z0-9]*"
                formControlName="usernameAdd" [ngClass]="{ 'is-invalid': submittedAdd && formAdd.usernameAdd.errors }">
                <div *ngIf="submittedAdd && formAdd.usernameAdd.errors" class="error">
                  <div *ngIf="formAdd.usernameAdd.errors.required">Sorry, full name is required</div>
                  <div *ngIf="formAdd.usernameAdd.errors.pattern">Sorry, full name can not empty</div>
                </div>
              </div>
          </div>
          <div class="form-group">
              <label for="emailAdd" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                  <input type="email" class="form-control" placeholder="Please enter email"
                  formControlName="emailAdd" [ngClass]="{ 'is-invalid': submittedAdd && formAdd.emailAdd.errors }">
                  <div *ngIf="submittedAdd && formAdd.emailAdd.errors" class="error">
                    <div *ngIf="formAdd.emailAdd.errors.required">Sorry, email is required</div>
                    <div *ngIf="formAdd.emailAdd.errors.email">Sorry, please enter email in correct format</div>
                  </div>
                </div>
            </div>
            <div class="form-group">
              <label for="passwordAdd" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                  <input type="password" class="form-control" placeholder="Please enter password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{6,24}$"
                  formControlName="passwordAdd" [ngClass]="{ 'is-invalid': submittedAdd && formAdd.passwordAdd.errors }">
                  <div *ngIf="submittedAdd && formAdd.passwordAdd.errors" class="error">
                    <div *ngIf="formAdd.passwordAdd.errors.required">Sorry, password is required</div>
                    <div *ngIf="formAdd.passwordAdd.errors.pattern">Sorry, password can not empty</div>
                  </div>
                </div>
            </div>
          <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Role</label>
              <div class="col-sm-10">
                  <select class="form-control form-control-lg" (change)="onChange($event.target.value)">
                    <option value="1">Student</option>
                    <option value="2">company</option>  
                    <option value="0">Administrator</option>
                  </select>
              </div>
            </div>          
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button [disabled]="loading" type="submit" class="btn btn-primary"(click)="addUser();">Submit</button>
              <span style="padding-left:3px;"></span>
              <button type="submit" class="btn btn-primary" (click) = "isAdd = false;">Cancle</button>
            </div>
          </div>
        </form>
  </div>
  <div class="col-md-3"></div>
</div>
<!--end  Add-->
<!--Edit -->
<div *ngIf="isEdit" class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h3>Edit user</h3>
      <hr >
        <form class="form-horizontal" [formGroup]="userEditForm">
          <div class="form-group">
            <label for="nameEdit" class="col-sm-2 control-label">Full name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Please enter your full name" pattern="^([^]*[a-zA-Zà-ýÀ-Ýạ-ỹẠ-ỸăĂđĐĩĨũŨơƠưƯ0-9]+[^]*)$"
              formControlName="nameEdit" [ngClass]="{ 'is-invalid': submittedEdit && formEdit.nameEdit.errors }">
              <div *ngIf="submittedEdit && formEdit.nameEdit.errors" class="error">
                <div *ngIf="formEdit.nameEdit.errors.required">Sorry, full name is required</div>
                <div *ngIf="formEdit.nameEdit.errors.pattern">Sorry, full name can not empty</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="usernameEdit" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Please enter username" pattern="[a-zA-Z0-9]*"
                formControlName="usernameEdit" [ngClass]="{ 'is-invalid': submittedEdit && formEdit.usernameEdit.errors }">
                <div *ngIf="submittedEdit && formEdit.usernameEdit.errors" class="error">
                  <div *ngIf="formEdit.usernameEdit.errors.required">Sorry, full name is required</div>
                  <div *ngIf="formEdit.usernameEdit.errors.pattern">Sorry, full name can not empty</div>
                </div>
              </div>
          </div>
          <div class="form-group">
              <label for="emailEdit" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                  <input type="email" class="form-control" placeholder="Please enter email"
                  formControlName="emailEdit" [ngClass]="{ 'is-invalid': submittedEdit && formEdit.emailEdit.errors }">
                  <div *ngIf="submittedEdit && formEdit.emailEdit.errors" class="error">
                    <div *ngIf="formEdit.emailEdit.errors.required">Sorry, email is required</div>
                    <div *ngIf="formEdit.emailEdit.errors.email">Sorry, please enter email in correct format</div>
                  </div>
                </div>
            </div>
            <div class="form-group">
              <label for="passwordEdit" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                  <input type="password" class="form-control" placeholder="Please enter password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{6,24}$"
                  formControlName="passwordEdit" [ngClass]="{ 'is-invalid': submittedAdd && formEdit.passwordEdit.errors }">
                  <div *ngIf="submittedAdd && formEdit.passwordEdit.errors" class="error">
                    <div *ngIf="formEdit.passwordEdit.errors.required">Sorry, password is required</div>
                    <div *ngIf="formEdit.passwordEdit.errors.pattern">Sorry, password can not empty</div>
                  </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Role</label>
                <div class="col-sm-10">
                    <select class="form-control form-control-lg">
                        <option>Student</option>
                        <option>No</option>
                    </select>
                </div>
              </div>          
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
    </div>
    <div class="col-md-3"></div>
</div>
<!--Edit -->

<!--list-->
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-6">
          <h2>Users</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" (input)="onSearchChange($event.target.value)">
          </div>
        </div>
        <div class="col-md-7"></div>
        <div class="col-md-2">
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary" (click)="isAdd = true;">Add User</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!--Noi dung-->
        <div>
          <table class="table table-hover">
            <tr>
              <th style="width:5%;">Stt</th>
              <th style="width:25%;">Name</th>
              <th style="width:25%;">Email</th>
              <th style="width:15%;">Username</th>
              <th style="width:10%;">Active</th>      
              <th style="width:10%;">Role</th>         
              <th style="width:5%;">Edit</th>
              <th style="width:5%;">Move</th>
            </tr>
            <tr *ngFor= "let user of usersView; let i = index">
              <td>{{i+1}}</td>
              <td>{{user?.name}}</td>
              <td>{{user?.emailAddress}}</td>
              <td>{{user?.username}}</td>
              <td *ngIf="user.active && user.active == true"> yes</td>
              <td *ngIf="user.active && user.active == false"> no</td>
              <td *ngIf ="user.roles[0] == 0">Administrator</td>
              <td *ngIf ="user.roles[0] == 1">Student</td>
              <td *ngIf ="user.roles[0] == 2">Company</td>
              <th><a class="update-link-color update-link" (click)="edit();isEdit= true;"><span class="glyphicon glyphicon-pencil"></span></a></th>
              <th><a class="update-link-color update-link" (click)="deleteEducation(user);"><span class="glyphicon glyphicon-remove"></span></a></th>
            </tr>                            
          </table>
        </div>
        <!--Noi dung-->
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>