<div class="panel panel-default">
  <div class="panel-heading title" >
    Looking for job?
  </div>
    <!--noi dung-->
    <div class="panel-body">
      <div *ngFor="let work of works">
        <a [routerLink]="['/jobdetail']" [queryParams]="{id: work.id}">{{work.title}}</a><br>
        <span class="glyphicon glyphicon-map-marker"></span> {{work.address}}<br>
        <a *ngFor="let tag of work.tags" class="btn btn-primary btn-xs"  style="margin-left: 3px;">{{tag.value}}</a>
        <hr>
      </div>
    </div>
    <!--noi dung-->

</div> 
