<div class="row">

    <div class="col-md-1"></div>
  
    <div class="col-md-7">  <!--style="border-left: 0px solid;"-->
      <div class="row">
          <div class="col-md-9"><h1>Top Questions</h1></div>
          <div class="col-md-3">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <a routerLink="/makequestion" class="btn btn-primary">Ask Question</a>    
              </div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
              <div class="btn-group btn-group-justified" role="group" aria-label="...">
                  <div class="btn-group" role="group">
                    <a  class="btn btn-default"> top </a>
                  </div>
                  <div class="btn-group" role="group">
                      <a  class="btn btn-default" (click)="getQuestionsOfMonth()">week</a>
                  </div>
                  <div class="btn-group" role="group">
                      <a  class="btn btn-default" (click)="getQuestionsOfYeah()"> month</a>
                  </div>
              </div>
          </div>
      </div>
      <br>

        <!--start-question that-->
      <div *ngFor="let question of questions">
        <div  class="panel panel-default questionHeight">
          <div class="panel-body" style ="max-height: 100%;">
            <table style="width:100%; max-height: 100%;">
              <tr>
                <td rowspan="2"  style="width: 7%;" class="cellAlign" >
                  <p *ngIf="question.votes != null">{{question.votes}}</p>
                  <p *ngIf="question.votes == null">3</p>
                </td>
                <td rowspan="2" style="width: 7%;" class="cellAlign">
                  <p *ngIf="question.answers != null">{{question.answers}}</p>
                  <p *ngIf="question.answers == null">5</p>
                </td> 
                <td rowspan="2" style="width: 7%;" class="cellAlign">                 
                  <p *ngIf="question.views != null">{{question.views}}</p>
                  <p *ngIf="question.views == null">2</p>
                </td> 
                <td colspan="2" rowspan="3" style="width: 79%; text-align: left;">
                  <a [routerLink]="['/showquestion']" [queryParams]="{id: question.id}">
                      {{question.title}}
                  </a>
                </td>
              </tr>
              <tr></tr>
              <tr>
                <td rowspan="2" class="cellAlign "><strong><i>Votes</i></strong></td>
                <td rowspan="2" class="cellAlign"><strong><i>Answers</i></strong></td> 
                <td rowspan="2" class="cellAlign"><strong><i>Views</i></strong></td>
              </tr>
              <tr>
                  <td class="tag" >                 
                      <a *ngFor="let tag of question.tags" class="btn btn-primary btn-xs">{{tag}}</a><span  style="padding-left:3px;"></span>
                  </td>
                  <td class="date">{{question.updationTime | date : 'short'}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>  
      <!--end-question-->

      
    </div>
  
    <div class="col-md-3"><app-left-menu></app-left-menu></div>
  
    <div class="col-md-1"></div>
  
  </div>