<div class="row">

    <div class="col-md-1"></div>
  
    <div class="col-md-7">  <!--style="border-left: 0px solid;"-->
      <div class="row">
          <div class="col-md-9"><h3>Top Questions</h3></div>
          <div class="col-md-3">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary">Ask Question</button>    
              </div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
              <div class="btn-group btn-group-justified" role="group" aria-label="...">
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">Left</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">Middle</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">Right</button>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <!--question-->
      <div class="panel panel-default questionHeight">
          <div class="panel-body ">
            <div class="col-md-2" >
              <div class="row">
                vote 3
              </div>
            </div>
            <div class="col-md-10">
                Basic panel example
            </div>
          </div>
        </div>
        <div class="panel panel-default questionHeight">
          <div class="panel-body">
                Basic panel example
          </div>
        </div>
        <div class="panel panel-default questionHeight">
            <div class="panel-body">
                  Basic panel example
            </div>
          </div>
        <div class="panel panel-default questionHeight">
              <div class="panel-body">
                    Basic panel example
              </div>
        </div>  
      <!--question-->
    <!--<app-questions></app-questions>-->
    </div>
  
    <div class="col-md-3"><app-left-menu></app-left-menu></div>
  
    <div class="col-md-1"></div>
  
  </div>