<div>
  <h3>Objective</h3>
  <hr style="border: 1px solid ">
  <table style="width:100%; ">
    <tr *ngFor="let objective of objectives">
      <td style="width:95%">
        <p style="text-align: justify">
          <span style="padding-left:35px;"></span>
          {{objective.description}}
        </p>
      </td>
      <td style="width:5%;" >
        <span style="padding-left:5px;"></span>
        <a style="margin-right: 0px;" *ngIf="!isAdd && !isEdit" class="update-link update-link-color" (click)="edit(objective) ;isEdit=true;"><span class="glyphicon glyphicon-pencil"></span></a>
        <span style="padding-left:5px;"></span>
        <a style="margin-right: 0px;"  *ngIf="!isAdd && !isEdit" class="update-link update-link-color" (click)="deleteObjective(objective);"><span class="glyphicon glyphicon-remove"></span></a>
      </td>
    </tr>
  </table>
  <hr>
  <a *ngIf="!isAdd && !isEdit" (click)="isAdd = true;">Add</a>
  <!--Add-->
  <div *ngIf="isAdd">
    <hr>
    <form class="form-horizontal" [formGroup]="objectiveFormAdd">
      <div class="form-group">
        <label for="descriptionAdd" class="col-sm-2 control-label">Objective</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="3" pattern="^([^]*[a-zA-Zà-ýÀ-Ýạ-ỹẠ-ỸăĂđĐĩĨũŨơƠưƯ0-9]+[^]*)$"
            formControlName="descriptionAdd" [ngClass]="{ 'is-invalid': submittedAdd && f.descriptionAdd.errors }">
                  </textarea>
          <div *ngIf="submittedAdd && f.descriptionAdd.errors" class="error">
            <div *ngIf="f.descriptionAdd.errors.required">Sorry, discription name is required</div>
            <span style="padding-left:3px;"></span>
            <div *ngIf="f.descriptionAdd.errors.pattern">Sorry, discription can not empty</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-primary" (click)="addObjective();">Save</button>
          <span style="padding-left:3px;"></span>
          <button class="btn btn-primary" (click)="isAdd = false;">Cancel</button>
        </div>
      </div>
    </form>
  </div>

  <!--Edit-->
  <div *ngIf="isEdit">
    <hr>
    <form class="form-horizontal" [formGroup]="objectiveFormEdit">
      <div class="form-group">
        <label for="descriptionEdit" class="col-sm-2 control-label">Objective</label>
        <div class="col-sm-10">
          <textarea type="text" rows="3" class="form-control" pattern="^([^]*[a-zA-Zà-ýÀ-Ýạ-ỹẠ-ỸăĂđĐĩĨũŨơƠưƯ0-9]+[^]*)$"
            formControlName="descriptionEdit" [ngClass]="{ 'is-invalid': submittesEdit && formEdit.descriptionEdit.errors }">
              </textarea>
          <div *ngIf="submittesEdit && formEdit.descriptionEdit.errors" class="error">
            <div *ngIf="formEdit.descriptionEdit.errors.required">Sorry, discription name is required</div>
            <div *ngIf="formEdit.descriptionEdit.errors.pattern">Sorry, discription can not empty</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-primary" (click)="updateObjective();">Save</button>
          <span style="padding-left:3px;"></span>
          <button class="btn btn-primary" (click)="isEdit = false;">Cancle</button>
        </div>
      </div>
    </form>
  </div>
</div>